<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noitidart.api.mapper.HealthItemMapper">

    <insert id="insert" parameterType="com.noitidart.api.pojo.entity.HealthItem">
        insert into `health_item` (name, detail, icon_url, unit, symbol, normal_value, user_id, is_global, create_time)
            value (#{name}, #{detail}, #{iconUrl}, #{unit}, #{symbol}, #{normalValue}, #{userId}, #{isGlobal}, #{createTime})
    </insert>

    <select id="selectAll" resultType="com.noitidart.api.pojo.entity.HealthItem">
        select * from `health_item`
        <where>
            <if test="name != null and name != ''">and health_item.name like concat('%', #{name}, '%')</if>
            <if test="userId != null">and health_item.user_id = #{userId}</if>
            <if test="isGlobal != null">and health_item.is_global = #{isGlobal}</if>
            <if test="startTime != null and endTime != null">
                and health_item.create_time between #{startTime} and #{endTime}
            </if>
        </where>
        order by id desc
    </select>

    <update id="updateById" parameterType="com.noitidart.api.pojo.entity.HealthItem">
        update `health_item` set name = #{name}, detail = #{detail}, icon_url = #{iconUrl}, unit = #{unit},
        symbol = #{symbol}, normal_value = #{normalValue}
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from `health_item` where id = #{id}
    </delete>

    <select id="options" resultType="com.noitidart.api.pojo.vo.HealthItemToolTipVO">
        select hi.id as value, hi.name as label, hi.unit as unit, hi.detail from `health_item` hi
        <where>
            <if test="userId != null">and hi.user_id = #{userId}</if>
            <if test="isGlobal != null">and hi.is_global = #{isGlobal}</if>
        </where>
        order by id desc
    </select>

    <select id="itemCount" resultType="com.noitidart.api.pojo.vo.HealthItemCountVO">
        select sum(case
                        when is_global = #{isGlobal} then
                            1
                        else
                            0
                   end) as globalItemCount,
                        sum(case
                                when user_id = #{userId} then
                                    1
                                else
                                    0
                            end) as privateItemCount
        from `health_item`
    </select>

    <select id="hasHealthItem" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0
        FROM `health_item`
        WHERE `name` = #{name}
          AND (
            -- 规则1：管理员创建的公有健康项（is_global=1）
            `is_global` = 1
                OR
                -- 规则2：当前用户自己创建的私有健康项（is_global=0 且 user_id=当前用户ID）
            (`is_global` = 0 AND `user_id` = #{userId})
            )
    </select>

    <select id="getIdByName" resultType="java.lang.Integer">
        SELECT id
        FROM `health_item`
        WHERE `name` = #{name}
          AND (
            -- 规则1：管理员创建的公有健康项（is_global=1）
            `is_global` = 1
                OR
                -- 规则2：当前用户自己创建的私有健康项（is_global=0 且 user_id=当前用户ID）
            (`is_global` = 0 AND `user_id` = #{userId})
            )
        LIMIT 1
    </select>


</mapper>